<h1>Hello from Rails!</h1>
<p>
It is now <%= @time %>
</p>
<p>
  Time to say
  <%= link_to "Goodbye", say_goodbye_path %>!
  
</p>


<% if current_user %> 
  <%= link_to "Sign Out", destroy_user_registration_path, method: :delete %>
<% else %>
	<%= link_to "Sign In", new_user_session_path %>
	<%= link_to "Sign Up", new_user_registration_path %>
<% end %> 